.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 190px;
    padding: 50px;
    background-color: rgba(23, 121, 218, 0.863);
}

.container table{
    border: 1px solid white;

    
}
.container table Link{
    border: 1px solid white;
    color:lime;
}

.container table th{
    border: 1px solid white;
    height: 3rem;
    width: 11rem;
    font-size: large;
    padding: 1rem;
}

.container table td{
    border: 1px solid white;
    height: 2rem;
    align-items: center;
    color: gold;
    font-size: larger;
    padding: 1rem;
}

.action {
    height: 20px;
    width: 100px;
    font-size: 0.8em;
}