* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 190px;
    padding: 50px;
    background-color: rgba(23, 121, 218, 0.863);
}

.container table{
    border: 1px solid white;
    margin: 15px 30px;
    
}
#reload{
    font-size: 1.2em;
    
}
.container table Link{
    border: 1px solid white;
    color:lime;
}

.container table th{
    border: 1px solid white;
    height: 3rem;
    width: fit-content;
    font-size: large;
    padding: 1rem;
}

.container table td{
    border: 1px solid white;
    height: 2rem;
    width: fit-content;
    align-items: center;
    color: gold;
    font-size: larger;
    padding: 1rem;
}

#action {
    height: 2em;
    width: 6em;
    font-size: 0.8em;
}